
:root {
    /* the foreground color to use */
    --fg: rgb(255, 140, 0);
    /* the background color to use */
    --bg: white;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg);
}

#map-wrapper {
    background-color: var(--bg);
    position: absolute;
    top: 40px;
    left: 40px;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    overflow: scroll;
    z-index: -1;
}
#map-container, .map-container {
    display: grid;
    grid-template-columns: repeat(100, 40px);
    /* background-color: lightgoldenrodyellow; */
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
}

.tile {
    width: 40px;
    height: 40px;
    border-top: 2px dashed var(--fg);
    border-left: 2px dashed var(--fg);
    font-size: 10px;
}
#vertical-tool-border {
    width: 40px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 4px dashed var(--fg);
}
#horizontal-tool-border {
    width: 100vw;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 4px dashed var(--fg);
}
#tool, #tool-2, #tool-3, #tool-4, #tool-5 {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    background-color: var(--bg);
    border: 4px dashed var(--fg);
    color: var(--fg);
    border-radius: 60px;
    color: var(--fg);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#tool-2 {
    top: 90px;
}

#tool-3 {
    top: 170px;
}

#tool-4 {
    top: 250px;
}

#tool-5 {
    top: 330px;
}